/* 
Main stylesheet - starting point
Author: b.boehm
*/
body {
    font-family: sans-serif;
}


a {
    color: rgb(130,0,130);
    text-decoration: none;
  }

a:hover {
    color: #fff;;
    text-decoration: underline;
}

            body {
                background-color: rgb(130,150,150);
                color: #fff;
            }
                       
            p {
                color: rgb(200,220,220);
            }
            
            
            footer {
                color: #ccc;
            }
       
main {
    clear: both;
}

/* ----------------------------------------------
   Navigation
-------------------------------------------------*/


